.body {
    margin: 0;
    
}

.fullwidth {
    background-color: blue;
    margin-bottom: 100px;
    height: 40px;
    margin: 0 auto;
    
}



.mybutton {
    background-image: url(sprite.png);
    width: 200px;
    height: 200px;
    display: block;
}

.mybutton:hover {
    background-position: -200px 0;
}

.mybutton:active {
    background-position: -400px 0;
}


.triangle {
    margin: 250px;
    width: 0;
    border: 200px solid transparent;
    border-top: 200px solid green;
}

.box1 {
    top: 20px;
    left: 40px;
    background-color: yellow;
}