html,
body,
svg {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

body:hover [filter],
body:active [filter] {
  filter: none;
}


#p use:nth-child(3) {
  fill: white;
  fill-opacity: 0.1;
  animation-delay: -2s;
}

:root {
  animation: back-color 3s infinite linear;
}

@keyframes stroke-color {
  0% {
    stroke: hsl( 0, 100%, 70%);
  }
  16.667% {
    stroke: hsl( 60, 100%, 70%);
  }
  33.333% {
    stroke: hsl(120, 100%, 70%);
  }
  50% {
    stroke: hsl(180, 100%, 70%);
  }
  66.667% {
    stroke: hsl(240, 100%, 70%);
  }
  83.333% {
    stroke: hsl(300, 100%, 70%);
  }
  100% {
    stroke: hsl(360, 100%, 70%);
  }
}

@keyframes back-color {
  0% {
    background: hsl( 0, 80%, 15%);
  }
  16.667% {
    background: hsl( 60, 80%, 15%);
  }
  33.333% {
    background: hsl(120, 80%, 15%);
  }
  50% {
    background: hsl(180, 80%, 15%);
  }
  66.667% {
    background: hsl(240, 80%, 15%);
  }
  83.333% {
    background: hsl(300, 80%, 15%);
  }
  100% {
    background: hsl(360, 80%, 15%);
  }
}