body {
    background-color: #1e90ff;
    color: white;
    font-size: 100px;
    line-height: pt;
    letter-spacing: -5px;
    font-family: Futura, Arial, sans-serif;
}

.container {
    width: 150px;
    height: 15px;
    padding-top: 5px;
    margin:  auto;
}

.ball {
    width: 500px;
    height: 50px;
    margin: 50px;
    border-radius: 50px;
}

.ball:nth-child(1) {
    background: #ff005d;
    -webkit-animation: right 1s infinite ease-in-out;
    -moz-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out;
}

.ball:nth-child(2) {
    background: #35ff99;
    -webkit-animation: left 1.1s infinite ease-in-out;
    -moz-animation: left 1.1s infinite ease-in-out;
    animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
    background: #008597;
    -webkit-animation: right 1.05s infinite ease-in-out;
    -moz-animation: right 1.05s infinite ease-in-out;
    animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
    background: #ffcc00;
    -webkit-animation: left 1.15s infinite ease-in-out;
    -moz-animation: left 1.15s infinite ease-in-out;
    animation: left 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
    background: #2d3443;
    -webkit-animation: right 1.1s infinite ease-in-out;
    -moz-animation: right 1.1s infinite ease-in-out;
    animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
    background: #ff7c35;
    -webkit-animation: left 1.05s infinite ease-in-out;
    -moz-animation: left 1.05s infinite ease-in-out;
    animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
    background: #4d407c;
    -webkit-animation: right 1s infinite ease-in-out;
    -moz-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out;
}

@-webkit-keyframes right {
    0% {
        -webkit-transform: translate(-15px);
    }
    50% {
        -webkit-transform: translate(15px);
    }
    100% {
        -webkit-transform: translate(-15px);
    }
}

@-webkit-keyframes left {
    0% {
        -webkit-transform: translate(15px);
    }
    50% {
        -webkit-transform: translate(-15px);
    }
    100% {
        -webkit-transform: translate(15px);
    }
}

@-moz-keyframes right {
    0% {
        -moz-transform: translate(-15px);
    }
    50% {
        -moz-transform: translate(15px);
    }
    100% {
        -moz-transform: translate(-15px);
    }
}

@-moz-keyframes left {
    0% {
        -moz-transform: translate(15px);
    }
    50% {
        -moz-transform: translate(-15px);
    }
    100% {
        -moz-transform: translate(15px);
    }
}

@keyframes right {
    0% {
        transform: translate(-15px);
    }
    50% {
        transform: translate(15px);
    }
    100% {
        transform: translate(-15px);
    }
}

@keyframes left {
    0% {
        transform: translate(15px);
    }
    50% {
        transform: translate(-15px);
    }
    100% {
        transform: translate(15px);
    }
}


.wrapper {
  padding-top: px;
  text-align: center;
}

/////////////////////////////////////////////////
// Mixins
/////////////////////////////////////////////////
@mixin crater($top, $left, $size) {
  content: '';
  position: absolute;
  top: $top;
  left: $left;
  width: $size;
  height: $size;
  background-color: #EFEEDA;
  border-radius: 100%;
  border: 4px solid #DEE1C5;
}

@mixin cloudBubble($top, $right, $width, $height, $deg) {
  content: '';
  display: block;
  position: relative;
  top: $top;
  right: $right;
  width: $width;
  height: $height;
  border: 8px solid #D4D4D2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ($deg);
  background-color: #fff;
}

/////////////////////////////////////////////////
// Day State
/////////////////////////////////////////////////
.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  margin-left: 100px;
  padding: 4px;  
  border-radius: 40px;
}

.toggle:before,
.toggle:after {
  content: '';
  display: table;
}

.toggle:after {
  clear: both;
}

.toggle-bg {
  position: absolute;
  top: px;
  left: px;
  width: 15%;  
  height: 5%;
  background-color: #C0E6F6;
  border-radius: 40px;
  border: 4px solid #81C0D5;
  transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}

.toggle-switch {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 32px;
  background-color: #F5EB42;
  border: 7px solid #E4C74D;
  border-radius: 50%;
  transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-switch-figure {  
  position: absolute;
  bottom: -20px;
  left: -50px;
  display: block;
  width: 80px;
  height: 25px;
  border: 8px solid #D4D4D2;
  border-radius: 20px;  
  background-color: #fff;
  transform: scale(0.4);
  transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  &:after {
    @include cloudBubble(-65px, -42px, 15px, 15px, 70deg);
  }
  &:before {
    @include cloudBubble(-25px, -10px, 30px, 30px, 30deg);
  }
}

.toggle-switch-figureAlt {
  @include crater(5px, 2px, 2px);
  
  box-shadow: 
    42px -7px 0 -3px #FCFCFC,
    75px -10px 0 -3px #FCFCFC,
    54px 4px 0 -4px #FCFCFC,
    83px 7px 0 -2px #FCFCFC,
    63px 18px 0 -4px #FCFCFC,
    44px 28px 0 -2px #FCFCFC,
    78px 23px 0 -3px #FCFCFC;
  
  transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transform: scale(0);
}

.toggle-switch-figureAlt:before {
  @include crater(-6px, 18px, 7px);
}

.toggle-switch-figureAlt:after {
  @include crater(19px, 15px, 2px);
}

/////////////////////////////////////////////////
// Night State
/////////////////////////////////////////////////
.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #DEE1C5;
  background-color: #FFFDF2;
}

.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}

