body {
	font-family: Futura
;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
}

hr {
  color: white
}

body {
  background-image: url('https://news.artnet.com/app/news-upload/2014/08/gif-history-dvdp-2.gif');
  background-size: cover;
}

a {
  color: white
}