body, html {
  background: #000;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

#text {
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  font-family: 'Bahiana', cursive;
  font-weight: 900;
  font-size: 50px;
  margin: 0;
}

#title {
  text-align: center;
  position: absolute;
  z-index: 99;
  color: #fff;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  font-family: 'Bahiana', cursive;
  font-weight: 900;
  font-size: 116px;
  margin: 0;
}

#title:hover {
  cursor: hand;
  cursor: pointer;
}

#title:active {
  top: +2px;
}

span {
  color: #bd1d00;
}

#colors {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: -webkit-linear-gradient(top left, rgba(6, 0, 255, 0.3), rgba(255, 0, 0, 0.3));
  background: linear-gradient(to bottom right, rgba(6, 0, 255, 0.3), rgba(255, 0, 0, 0.3));
}

#cloudsfront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url("http: //i967.photobucket.com/albums/ae160/mykyrIacos_bucket/TUBES%20NUAGES/Jillcreation-overlay-cloud.png");
  -webkit-animation: move-clouds2 500s linear infinite;
          animation: move-clouds2 500s linear infinite;
  opacity: 0.1;
  background-size: 50% 100%;
  z-index: 100;
}

#clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url("http://i967.photobucket.com/albums/ae160/mykyrIacos_bucket/TUBES%20NUAGES/Jillcreation-overlay-cloud.png");
  -webkit-animation: move-clouds 200s linear infinite;
          animation: move-clouds 200s linear infinite;
  opacity: 0.2;
  background-size: cover;
  z-index: 101;
}

@-webkit-keyframes move-clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@keyframes move-clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@keyframes move-clouds2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

